<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well">
                <h3>Login</h3>
                    <div class="form-group">
                        <input type="email" class="form-control" ng-model="email" id="email" placeholder="Email" autofocus />
                        <input type="password" class="form-control" ng-model="password" id="password" placeholder="Password" />
                    </div>
                    <button type="submit" class="btn btn-success submitbutton" ng-click="submit()">
                        <div ng-hide="clickedLogin">Login</div>
                        <div class="loader" ng-show="clickedLogin"></div>
                    </button>
                    
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <a ui-sref>Forgot Password?</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <a ui-sref="register">Register</a>
                        </div>
                    </div>                   
            <p id="message">{{message}}</p>
        </div>
    </div>
</div>