<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 well">
            <h3>Register</h3>
            <form ng-submit="submit()">                        
                <div class="form-group">
                    <input type="email" class="form-control" ng-model="email" id="email" placeholder="Email" autofocus />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" ng-model="password" id="password" placeholder="Password" />
                </div>
                <button type="submit" class="btn btn-success submitbutton">
                    <div ng-hide="clickedRegister">Register</div>
                    <div class="loader" ng-show="clickedRegister"></div>
                </button>
            </form><br />
            <p>Already a Member?</p>
            <a ui-sref="login">Login</a>
            <p id="message" ng-show="message !== undefined">{{message}}</p>
        </div>
    </div>
</div>