/*--- Global ---*/
.active {
    color: white !important;
    background:#555 !important;
    box-shadow: 0 0 15px white;
    text-shadow: 2px 2px 5px black;
}

body{
    background-color:#fff;
    overflow-x: hidden;    
    padding: 35px;
    padding-bottom: 75px;
}

a{text-decoration:none; color:#262626}
a:link{text-decoration:none; color:#262626;} 
a:visited{text-decoration:none; color:#262626;} 
a:hover{text-decoration:none; color:#449D44;}

ol ul{
    list-style:none;
}

.well {
    background-color: #ddd;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border: none;
}

.glyphicon {
    font-size:4em;
}

/*--- Employees ---*/

/*--- Home ---*/

/*-- Login --*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    animation: spin 2s linear infinite;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.submitbutton {
    width: 5.5em !important;
    height: 3em !important; 
    vertical-align: middle;
}

/*--- Navigation ---*/
nav a {
    cursor: pointer;
}

#navbar {
    background-color:#ddd;
}


/*--- Crew Detail ---*/
.delete {
    color:red;
}

/*--- Timekeeping --*/
#barcodeScanner{
    border: 10px solid red;
    max-width: 220px;
    max-height: 170px;
}

video{
    max-height:150px;
    max-width:175px;
}