<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Add New Employee</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" autofocus />
                    <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" />
                    <input type="text" class="form-control" ng-model="middle" placeholder="Middle" />  
                    <input type="number" class="form-control" ng-model="ssn" placeholder="SSN" />
                    Gender:
                    <select ng-model="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <input type="date" class="form-control" ng-model="dateOfBirth" placeholder="Date of Birth" />
                    <input type="text" class="form-control" ng-model="address1" placeholder="Address 1" />
                    <input type="text" class="form-control" ng-model="address2" placeholder="Address 2" />
                    <input type="text" class="form-control" ng-model="city" placeholder="City" />
                    <input type="text" class="form-control" ng-model="state" placeholder="State" />
                    <input type="text" class="form-control" ng-model="zip" placeholder="ZIP code" />
                    <input type="text" class="form-control" ng-model="phone" placeholder="Phone Number" />
                    <input type="text" class="form-control" ng-model="rate" placeholder="Hourly Rate" />
                    H2A?:
                    <select ng-model="H2A">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success" ng-click="close('saved')">Save</button>
            </div>
            <div class="modal-footer">
                <p id="message">{{message}}</p>
            </div>
        </div>
    </div>
</div>