<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h3>Create Crew</h3>
            </div>
            
            <div class="modal-body">
                <form ng-submit="submit()">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="vm.crew.name" placeholder="Name" autofocus required />
                        <input type="text" class="form-control" ng-model="vm.crew.manager" placeholder="Manager" required />
                        <input type="text" class="form-control" ng-model="vm.crew.photo" placeholder="Photo" required />
                    </div>
                </form>
            </div>
            
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="vm.submit()" data-dismiss="modal">Save</button>
                <button class="btn btn-danger" ng-click="vm.cancel()" data-dismiss="modal">Cancel</button>
            </div>
            
        </div>
    </div>
</div>