<div class="container-fluid">

    <!-- View -->
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." ng-model="searchText">
            </div>
            <button class="btn btn-success" ng-click="showCreateCrewForm()">Create New Crew</button>
        </div>
    </div>
    <div class="row">
        <ul>
            <li ng-repeat="crew in crews | filter: searchText | orderBy: 'name'">
                <a ui-sref="crew({id: crew.$id})"><img ng-src="{{crew.photo}}" height="50px" />
                {{crew.name}}
                <ul>
                    <li>
                        {{crew.count}} Employees in Crew
                    </li>
                    <li>
                        {{crew.uid}}
                    </li>
                </ul>
                </a>
            </li>
        </ul>
    </div>

</div>