<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well">
            <h1>Employees</h1>
            <div id="employee-list">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search by Employee name" />
                <ul>
                    <li ng-repeat="employee in employees | filter: searchText | orderBy: 'name' ">
                        <h4 ng-click="selectEmployee(employee)">{{employee.firstName + " " + employee.lastName}}</h4>
                        <p><em>Crew: {{employee.crew}}</em></p>
                        <button class="btn btn-remove" ng-click="removeEmployee(employee)">Remove</button>
                    </li>
                </ul>
                <button class="btn btn-success" ng-click="addEmployee()">Add</button>
            </div>
        </div>
    </div>
</div>