<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" ng-click="vm.cancel()" data-dismiss="modal">&times;</button>
                <h3>New TimeCard</h3>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.timeCard.periodStart" placeholder="Period Start" autofocus />
                    <input type="text" class="form-control" ng-model="vm.timeCard.periodEnd" placeholder="Period End" />
                    <input type="text" class="form-control" ng-model="vm.timeCard.periodType" placeholder="Period Type" />
                    <input type="text" class="form-control" ng-model="vm.timeCard.farmer" placeholder="Farmer" />
                    <input type="text" class="form-control" ng-model="vm.timeCard.job" placeholder="Job" />
                    <input type="text" class="form-control" ng-model="vm.timeCard.crop" placeholder="Crop" />
                    <input type="text" class="form-control" ng-model="vm.timeCard.workDate" placeholder="Work Date" />
                    <input type="text" class="form-control" ng-model="vm.timeCard.payDate" placeholder="Pay Date" />
                    <input type="text" class="form-control" ng-model="vm.timeCard.overrideRate" placeholder="Override Hourly Rate" />
                    <label>Crew:</label>
                    <select ng-model="vm.timeCard.crew">
                        <option ng-repeat="crew in crews" ng-click="vm.setTimeCardCrew(crew)">{{crew.name}}</option>
                    </select> 
                    <h4>Field Info:</h4>
                    <input type="text" class="form-control" ng-model="vm.timeCard.field.id" placeholder="Field ID" />
                    <input type="text" class="form-control" ng-model="vm.timeCard.field.description" placeholder="Field Description" />
                    <input type="text" class="form-control" ng-model="vm.timeCard.field.acreage" placeholder="Field Acreage" />
                    <input type="text" class="form-control" ng-model="vm.timeCard.field.state" placeholder="Field State" />
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" ng-click="vm.submit()" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
